/* stylelint-disable at-rule-no-unknown */
/* stylelint-disable csstree/validator */
@use './_colors.scss';
@use './space.scss';

.checkout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 28.125rem;
  margin-inline: auto;
  background: colors.$light;
  box-shadow: 0 2.5rem 2.5rem -1.25rem rgba(13, 48, 189, 0.151826);
  border-radius: 1.25rem;

  &__header {
    &-img {
      display: block;
      width: 100%;
      height: auto;
      border-radius: 1.25rem 1.25rem 0 0;
    }
  }

  &__body {
    text-align: center;
    padding-inline: space.$card-body-padding-lr;
    padding-block: space.$card-body-padding-t space.$card-body-padding-b;

    &-title {
      font-weight: 900;
      font-size: 1.375rem;
      line-height: 1.318;
      margin-bottom: 1rem;

      @media only screen and (min-width: 768px) {
        font-size: 1.75rem;
        line-height: 1.321;
      }
    }

    &-text {
      font-weight: 500;
      font-size: 0.9375rem;
      line-height: 1.667;
      margin-bottom: calc(-1 * space.$card-text-t-margin);
      color: colors.$ship-cove;

      @media only screen and (min-width: 768px) {
        font-size: 1rem;
        line-height: 1.625;
      }
    }

    &-plan {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      gap: 1.25rem;
      justify-content: space-between;
      padding: space.$plan-padding;
      margin-block-end: space.$plan-payment-margin-b;
      background: colors.$ghost-white;
      border-radius: 11px;

      &-details {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1.25rem;

        &-img {
          display: block;
          width: 3rem;
          height: auto;
        }
      }

      &-price {
        &-title {
          font-weight: 900;
          font-size: 0.875rem;
          line-height: 1.357;

          @media only screen and (min-width: 768px) {
            font-size: 1rem;
            line-height: 1.3125;
          }
        }

        &-value {
          font-weight: 500;
          font-size: 0.875rem;
          line-height: 1.357;
          color: colors.$ship-cove;

          @media only screen and (min-width: 48rem) {
            font-size: 1rem;
            line-height: 1.3125;
          }
        }
      }

      &-btn {
        font-weight: 700;
        font-size: 0.8125rem;
        line-height: 1.307;
        text-decoration-line: underline;
        color: colors.$persian-blue-500;
        padding: 0;
        border: none;
        cursor: pointer;

        @media only screen and (min-width: 48rem) {
          font-size: 0.875rem;
          line-height: 1.357;
        }

        &:hover {
          color: colors.$medium-slate-blue;
          text-decoration: none;
        }
      }
    }

    &-btn {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &-payment {
        width: 100%;
        font-weight: 900;
        font-size: 0.9375rem;
        line-height: 1.333;
        margin-block-end: space.$plan-payment-margin-b;
        padding: 0.9375rem;
        color: colors.$light;
        background-color: colors.$persian-blue-500;
        box-shadow: 0 1.25rem 1.25rem rgba(56, 42, 225, 0.190291);
        border: none;
        border-radius: 0.6875rem;
        cursor: pointer;

        &:hover {
          background-color: colors.$medium-slate-blue;
        }

        @media only screen and (min-width: 48rem) {
          font-size: 1rem;
          line-height: 1.3125;
        }
      }

      &-cancel {
        font-weight: 900;
        font-size: 0.9375rem;
        line-height: 1.333;
        border: none;
        padding: 0;
        color: colors.$ship-cove;

        &:hover {
          color: colors.$regal-blue;
        }
      }
    }
  }
}
