$alice-blue: #E0E8FF;
$ghost-white: #F7F9FF;
$lavender: #DFE6FB;
$lavender-blue: #D6E1FF;
$turquoise-blue: #75ECCA;
$regal-blue: #1F2E55;
$persian-blue-700: #1E1FCD;
$persian-blue-500: #382AE1;
$heliotrope: #CD7DF3;
$ship-cove: #717FA6;
$light-slate-blue: #698DFF;
$light: #ffffff;
$nero: #231F20;



