$alice-blue: #e0e8ff;
$ghost-white: #f7f9ff;
$lavender: #dfe6fb;
$lavender-blue: #d6e1ff;
$turquoise-blue: #75ecca;
$regal-blue: #1f2e55;
$persian-blue-700: #1e1fcd;
$persian-blue-500: #382ae1;
$heliotrope: #cd7df3;
$ship-cove: #717fa6;
$light-slate-blue: #698dff;
$light: #fff;
$nero: #231f20;
$medium-slate-blue: #766cf1;
